{{ note.cfg }}
{% if proxy %}
Acquire::http::Proxy "http://{{ proxy_through.host }}:{{ proxy_through.port }}";
Acquire::https::Proxy "http://{{ proxy_through.host }}:{{ proxy_through.port }}";
{% endif %}

