{{ note.cfg }}
{% if proxy %}
Username    {{ primary_user.id }}
Domain      tpplc
PassNTLMv2  {{ ntlm_hash }}

{% for p in proxy_hosts %}
Proxy       {{ p.host }}:{{ p.port }}
{% endfor %}
NoProxy     {% for np in no_proxy -%}{{ np }}{% if not loop.last %}, {% endif %}{% endfor %}

Gateway     yes
Listen      {{ proxy_through.port }}
{% endif %}

