{{ note.cfg }}
PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
{% if proxy %}
https_proxy=http://{{ proxy_through.host }}:{{ proxy_through.port }}
http_proxy=http://{{ proxy_through.host }}:{{ proxy_through.port }}
{% endif %}

