# ANSIBLE MANAGED

Host *
  ForwardAgent          yes
  StrictHostKeyChecking no
  ForwardX11            no
  ServerAliveInterval   120
  LogLevel              QUIET
{% for host in ssh_config.hosts %}

Host {% for psuedo in host.psuedo_names -%}{{ psuedo }} {% endfor %}

{% if host.name is defined %}
  Hostname              {{ host.name }}
{% endif -%}
{% if host.proxy is defined %}
  ProxyCommand          ssh {{ host.proxy }} exec nc %h %p
{% endif -%}

{% endfor %}

