[emulator]
mapping_name                = Xbox 360 Controller (xpad driver)
btn_escape                  = 316
emu_btn_escape              = 316

[dreamcast]
btn_a                       = 304
btn_b                       = 305
btn_x                       = 307
btn_y                       = 308
btn_c                       = 310
btn_d                       = 311
btn_z                       = 317
btn_start                   = 315
btn_dpad1_left              = 704
btn_dpad1_right             = 705
btn_dpad1_up                = 706
btn_dpad1_down              = 707
axis_x                      = 0
axis_y                      = 1
axis_trigger_left           = 10
axis_trigger_right          = 9

[compat]
btn_trigger_left            = 312
btn_trigger_right           = 313
axis_dpad1_x                = 16
axis_dpad1_y                = 17
axis_dpad2_x                =
axis_dpad2_y                =
axis_x_inverted             = no
axis_y_inverted             = no
axis_trigger_left_inverted  =
axis_trigger_right_inverted =
axis_dpad1_y_inverted       = no
axis_dpad1_x_inverted       = no

