input_device                  = "Xbox Wireless Controller"
input_driver                  = "sdl"

input_up_btn                  = "{{ retropie_controller.up        }}"
input_down_btn                = "{{ retropie_controller.down      }}"
input_left_btn                = "{{ retropie_controller.left      }}"
input_right_btn               = "{{ retropie_controller.right     }}"

input_a_btn                   = "{{ retropie_controller.a         }}"
input_b_btn                   = "{{ retropie_controller.b         }}"
input_y_btn                   = "{{ retropie_controller.y         }}"
input_x_btn                   = "{{ retropie_controller.x         }}"

input_start_btn               = "{{ retropie_controller.start     }}"
input_select_btn              = "{{ retropie_controller.select    }}"

enput_l_btn                   = "{{ retropie_controller.l_1       }}"
input_r_btn                   = "{{ retropie_controller.r_1       }}"
input_l2_axis                 = "{{ retropie_controller.l_2       }}"
input_r2_axis                 = "{{ retropie_controller.r_2       }}"
input_l3_btn                  = "{{ retropie_controller.l_button  }}"
input_r3_btn                  = "{{ retropie_controller.r_button  }}"

input_l_x_plus_axis           = "{{ retropie_controller.l_up      }}"
input_l_y_plus_axis           = "{{ retropie_controller.l_down    }}"
input_l_x_minus_axis          = "{{ retropie_controller.l_left    }}"
input_l_y_minus_axis          = "{{ retropie_controller.l_right   }}"

input_r_x_plus_axis           = "{{ retropie_controller.r_up      }}"
input_r_y_plus_axis           = "{{ retropie_controller.r_down    }}"
input_r_x_minus_axis          = "{{ retropie_controller.r_left    }}"
input_r_y_minus_axis          = "{{ retropie_controller.r_right   }}"

input_enable_hotkey_btn       = "{{ retropie_controller.special   }}"

input_reset_btn               = "{{ retropie_controller.b         }}"
input_menu_toggle_btn         = "{{ retropie_controller.x         }}"
input_exit_emulator_btn       = "{{ retropie_controller.start     }}"

input_state_slot_decrease_btn = "{{ retropie_controller.left      }}"
input_state_slot_increase_btn = "{{ retropie_controller.right     }}"

input_load_state_btn          = "{{ retropie_controller.l_1       }}"
input_save_state_btn          = "{{ retropie_controller.r_1       }}"

