use_art           = "{{ retropie_runcommand.use_art      }}"
disable_joystick  = "0"
governor          = ""
disable_menu      = "{{ retropie_runcommand.disable_menu }}"
image_delay       = "{{ retropie_runcommand.delay_secs   }}"

