{
 "acceptedEulaVersions" : [
  "1.2.1"
 ],
 "anonymousID" : "7d6a8576-342b-4177-86bb-c26c98be97b9",
 "autoExec" : false,
 "autoExpand" : false,
 "autocompletionMode" : 1,
 "batchSize" : 50,
 "cacheData" : {
  "wtImage1LastModifiedDate" : "2018-11-06T16:13:16Z",
  "wtRssLastModifiedDate" : "NotImplemented",
  "wtText1LastModifiedDate" : "2018-11-06T16:34:06Z"
 },
 "checkForUpdates" : true,
 "connections" : [
{% for robo3t in robo3t_connections %}
{% for conn in robo3t.conns %}
  {
   "connectionName" : "{{ conn.name }}",
   "credentials" : [
    {
     "databaseName" : "{{ conn.db }}",
     "enabled" : true,
     "mechanism" : "MONGODB-CR",
     "userName" : "{{ robo3t.user }}",
     "userPassword" : ""
    }
   ],
   "defaultDatabase" : "",
   "isReplicaSet" : false,
   "serverHost" : "{{ robo3t.host }}",
   "serverPort" : {{ robo3t.port }},
   "ssh" : {
    "askPassword" : false,
    "enabled" : false,
    "host" : "",
    "method" : "publickey",
    "passphrase" : "",
    "port" : 22,
    "privateKeyFile" : "",
    "publicKeyFile" : "",
    "userName" : "",
    "userPassword" : ""
   },
   "ssl" : {
    "allowInvalidCertificates" : false,
    "allowInvalidHostnames" : false,
    "askPassphrase" : false,
    "caFile" : "",
    "crlFile" : "",
    "pemKeyFile" : "",
    "pemPassPhrase" : "",
    "sslEnabled" : false,
    "useAdvancedOptions" : false,
    "usePemFile" : false
   }
  }{% if not loop.last %},{% endif %}{% endfor %}{% if not loop.last %},{% endif %}{% endfor %}
 ],
 "dbVersionsConnected" : [
  "2.6.12",
  "3.4.14",
  "2.6.8"
 ],
 "disableConnectionShortcuts" : false,
 "imported" : false,
 "lineNumbers" : false,
 "loadMongoRcJs" : false,
 "minimizeToTray" : false,
 "mongoTimeoutSec" : 10,
 "programExitedNormally" : true,
 "shellTimeoutSec" : 15,
 "style" : "Native",
 "textFontFamily" : "",
 "textFontPointSize" : -1,
 "timeZone" : 0,
 "toolbars" : {
  "connect" : true,
  "exec" : true,
  "explorer" : true,
  "logs" : false,
  "open_save" : true
 },
 "useHttps" : false,
 "uuidEncoding" : 0,
 "version" : "2.0",
 "viewMode" : 1
}
