{{ note.cfg }}
[Desktop Entry]
Type=Application
Name=Robo 3T
Comment=Robo 3T
Icon={{ robo3t.home }}/{{ robo3t_version }}/{{ robo3t_lib }}/robo3t.png
Exec={{ robo3t.home }}/{{ robo3t_version }}/{{ robo3t_lib }}/bin/robo3t
Terminal=false
Categories=Development
StartupWMClass=Eclipse

