{{ note.cfg }}
[Desktop Entry]
Type=Application
Name=WSO2 Studio
Comment=WSO2 Studio - Eclipse Integrated Development Environment
Icon={{ wso2studio.home }}/{{ wso2studio_version }}/eclipse/icon.xpm
Exec={{ wso2studio.home }}/{{ wso2studio_version }}/eclipse/eclipse
Terminal=false
Categories=Development
StartupWMClass=Eclipse

