[Unit]
Description={{ wallpaper.service.desc }}

[Service]
Environment=DISPLAY=:0
ExecStart=/bin/bash -c "{{ wallpaper.install.dir }}/{{ wallpaper.service.name }}.sh"
User={{ primary_user.id }}
Group={{ primary_user.id }}

[Install]
WantedBy=basic.target

