#!/bin/bash

load_config() {
  default_sleep=60
  default_resource="{{ wallpaper.resource.dir }}"
  config_file="{{ wallpaper.config.dir }}{{ wallpaper.config.name }}"

  if [ -f ${config_file} ]; then
    SLEEP=$(          cat ${config_file} | yq -r '.sleep.sec' )
    WALLPAPER_DIR=$(  cat ${config_file} | yq -r '.wallpapers.dir' )
  else
    SLEEP="${default_sleep}"
    WALLPAPER_DIR="${default_resource}"
  fi
}

set_dbus() {
  PID=$(pgrep -u {{ primary_user.id }} gnome-session)
  DBUS_SESSION_BUS_ADDRESS=$(grep -z DBUS_SESSION_BUS_ADDRESS /proc/${PID}/environ|cut -d= -f2-)

  export DBUS_SESSION_BUS_ADDRESS
}

get_random_picture() {
  RAND=$(shuf -i1-${FILES_IN_DIR_CT} -n1)
  PICTURE=${FILES_IN_DIR[$!RAND-1]}
}

change_background() {
  echo "--------------------------------------------------"
  echo "PID=${PID} | DBUS_SESSION_BUS_ADDRESS=${DBUS_SESSION_BUS_ADDRESS}"
  echo "Current Background :: $(gsettings get org.gnome.desktop.background picture-uri)"
  echo "New Background     :: ${PICTURE}"
  gsettings set org.gnome.desktop.background picture-uri file:///${PICTURE}
  echo "Changed Background :: $(gsettings get org.gnome.desktop.background picture-uri)"
}

###############################################################

load_config
while (true); do
{% raw %}
  FILES_IN_DIR=( $( find ${WALLPAPER_DIR} -type f ) )
  FILES_IN_DIR_CT="${#FILES_IN_DIR[@]}"
{% endraw %}

  set_dbus
  get_random_picture
  change_background
  sleep ${SLEEP}
done

