version=2
proxyserver=
proxyport=
proxyuser=
proxypasswdenc=
current=Travisperkins
keepalive=0
autostart=0
profile=Travisperkins
server=sslvpn.travisperkins.co.uk
port=39953
user={{ primary_user.id }}

