{
    "proxies": {
        "default": {
            "httpProxy": "http://{{ proxy_through.host }}:{{ proxy_through.port }}",
            "httpsProxy": "http://{{ proxy_through.host }}:{{ proxy_through.port }}",
            "noProxy": "{% for np in no_proxy -%}{{ np }}{% if not loop.last %},{% endif %}{% endfor %}"
        }
    }
}

