{{ note.cfg }}
systemProp.http.proxyHost={{ proxy_through.host }}
systemProp.http.proxyPort={{ proxy_through.port }}
systemProp.https.proxyHost={{ proxy_through.host }}
systemProp.https.proxyPort={{ proxy_through.port }}

